:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --white-color: #ffffff;
  --second-logo-color: #4d5ae5;
  --first-logo-color: #2e2f42;
  --first-footer-logo-color: #4d5ae5;
  --second-footer-logo-color: #f4f4fd;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --gray-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --active-accent-color: #ffffff;
  --accent-background-color: #f4f4fd;
  --active-accent-background-color: #404bbf;
  --customers-color: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  max-width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  border: none;
  background-color: #404bbf;
}
.modal-button:focus {
  border: none;
  background-color: #404bbf;
}
.modal-button:hover,
.modal-button:focus .modal-button-svg {
  fill: #ffffff;
}

.modal-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  padding: 72px 24px 24px 24px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  max-width: 360px;
  color: var(--secondary-color);
}

.modal-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-item {
  margin-bottom: 8px;
}

.modal-box {
  position: relative;
}

.username-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  margin-bottom: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.modal-input:focus-within + .username-icon {
  fill: #4d5ae5;
}

.textarea-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus-within {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-box {
  margin-bottom: 24px;
}

.privacy-checkbox:checked + .privacy-label > .checkbox-box-svg {
  background-color: #404bbf;
  border: none;
  fill: var(--accent-background-color);
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  display: inline-block;
  margin-left: 3px;
}

.checkbox-box-svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile menu */

.mobile-line {
  position: relative;
  display: block;
  width: 32px;
  height: 3px;
  border-radius: 4px;
  background-color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-line::before {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-line::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-open-menu {
  border: none;
  height: 30px;
  background-color: transparent;
}

.js-open-menu:is(:focus, :hover) > .mobile-line,
.js-open-menu:is(:focus, :hover) > .mobile-line::before,
.js-open-menu:is(:focus, :hover) > .mobile-line::after {
  background-color: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 80px 35px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 55;
  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #404bbf;
  border: none;
}

.menu-toggle:hover .menu-button-svg,
.menu-toggle:focus .menu-button-svg {
  fill: #4d5ae5;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-link {
  display: block;
  max-width: 353px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-address {
  margin-bottom: 48px;
  font-style: normal;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.address-phone {
  color: #4d5ae5;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-phone:hover,
.address-phone:focus,
.address-email:hover,
.address-email:focus {
  color: var(--accent-color);
}

.address-email {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  fill: #f4f4fd;
}

.menu-icon-svg {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-svg:hover,
.menu-icon-svg:focus {
  background-color: #404bbf;
}

/* Active page */

.nav-link.current {
  color: #404bbf;
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link.current-burger {
  color: #404bbf;
}

/* Header */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 20;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
  text-transform: uppercase;
}

.link-studio {
  color: var(--first-logo-color);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_mobile.jpg);
  /* padding: 188px 0px; */
  padding: 112px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
  display: flex;
  flex-direction: column;
  /* padding: 0 316px; */
  padding: 0 54px;
}

.hero-title {
  color: var(--white-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-self: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-accent-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Our preference */

.pref-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--gray-background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.pref-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.pref-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.pref-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

/* About us */

.about-section {
  padding-bottom: 120px;
}

.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-list-item {
  width: calc((100% - 48px) / 3);
}

/* Our team */

.our-team {
  background-color: var(--gray-background-color);
  padding: 96px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;

  flex-direction: column;

  align-items: center;
  gap: 72px;
}

.team-card {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  padding: 32px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon-item {
  fill: var(--gray-background-color);
}

/* Customers */

.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
  text-align: center;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px 16px;
}

.customers-item {
  /* flex-basis: calc((100% - 16px) / 2); */

  height: 88px;
}

.customers-link {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/* Footer */

.footer {
  background-color: var(--secondary-background-color);
  padding: 96px 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: baseline; */
  gap: 72px;
}

.footer-box {
  text-align: center;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-footer-logo-color);
  margin-bottom: 16px;
  display: inline-block;
}
.footer-box-social {
  margin-top: 72px;
}
.social-footer {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-footer-item {
  width: 40px;
  height: 40px;
}

.social-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;
}

.social-footer-icon {
  fill: var(--gray-background-color);
}

.footer-link-web {
  color: var(--second-footer-logo-color);
}

.footer-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* .footer-form {
	display: flex;
	gap: 24px;
} */

.input-footer-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-input {
  display: block;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  margin: 0 auto;
  margin-top: 16px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  padding: 10px 24px;
  color: #ffffff;
  line-height: 1.5;
  background: #4d5ae5;
  border-radius: 4px;
}

.footer__btn-svg {
  margin-left: 16px;
}

/* Portfolio List */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.app-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
  padding-left: 16px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  padding-left: 16px;
}

.category-item:nth-child(3) {
  margin-right: 0;
}

.category-item:nth-child(6) {
  margin-right: 0;
}

.category-item:nth-child(9) {
  margin-right: 0;
  margin-bottom: 0;
}

.category-item:nth-child(8) {
  margin-bottom: 0;
}

.category-item:nth-child(7) {
  margin-bottom: 0;
}

.app-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-item:hover,
.app-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-item:hover .app-text,
.app-item:focus .app-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.app-image {
  position: relative;
  overflow: hidden;
}

.app-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.none {
  display: none;
}
